.header {
  position: fixed;
  background: rgba(16, 16, 29, 0.9);
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 1920px;
  max-height: 100px;
  margin-bottom: 0;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 800;

      &:focus {
        outline: none;
      }
    }

    .menu {
      display: none;
    }

    .nav-toggle {
      position: relative;
      display: block;
      width: 30px;
      padding: 10px 0;
      position: absolute;
      top: 35%;
      right: 5%;
      z-index: 100;
      font-size: 0;
      border: 0;
      background: none;
      cursor: pointer;

      &__item {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: background 0.2s linear;
      }

      &__item::before,
      &__item::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        z-index: 1;
        transition: transform 0.2s linear;
      }

      &__item::before {
        top: -10px;
      }

      &__item::after {
        bottom: -10px;
      }
    }

    .nav-toggle.active .nav-toggle__item {
        background: none;
      }
      
      .nav-toggle.active .nav-toggle__item::before {
        transform-origin: right top;
        transform: rotate(-45deg) translateX(0px);
      }

      .nav-toggle.active .nav-toggle__item::after {
        transform-origin: right bottom;
        transform: rotate(45deg) translateX(1px);
      }
  }
}
