.header {
  position: fixed;
  background: rgba(16, 16, 29, 0.9);
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 1920px;
  max-height: 100px;
  margin-bottom: 0;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 800;

    &:focus {
      outline: none;
    }
  }

  .menu {
    display: none;
  }

  .nav-toggle {
    display: block;
  }
}