$accent-color:rgba(67, 171, 240, 1);
$light-color: rgba(255, 255, 255, 1);
$dark-color: rgba(0, 0, 0, 1);
$dark-bg: rgba(16, 16, 29, 0.9);

$white-opacity-85: rgba(255, 255, 255, 0.85);

$blue-dark:rgb(6, 122, 200);

$gray-lightest: rgba(187, 187, 187, 1);
$gray-lighter: rgba(196, 196, 196, 1);
$gray-light: rgba(111, 109, 123, 1);
$gray-medium: rgba(61, 64, 80, 1);
$gray-dark: rgba(42, 43, 48, 1);

$circle-inner: rgba(62, 156, 220, 1);
$circle-border: rgba(40, 102, 144, 1);

$form-text-color: rgba(39, 39, 51, 1);
$bg-color: rgba(39, 39, 51, 1);

$heading-1-desktop: 48px;
$heading-1-tablet: 40px;
$heading-1-mobile: 32px;
$heading-2-desktop: 36px;
$heading-2-tablet: 32px;
$heading-2-mobile: 30px;
$text-lg: 20px;
$text-md2: 18px;
$text-md: 16px;
$text-sm: 13px;
