$accent-color:rgba(67, 171, 240, 1);
$light-color: rgba(255, 255, 255, 1);
$dark-color: rgba(0, 0, 0, 1);

$light-gray: rgba(111, 109, 123, 1);
$medium-gray: rgba(61, 64, 80, 1);
$dark-gray: rgba(42, 43, 48, 1);

$bg-color: rgba(39, 39, 51, 1);

$main-heading: 48px;
$text-lg: 20px;
$text-md: 16px;
$text-sm: 13px;
