@use "variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: variables.$light-color;
  background-color: variables.$bg-color;
  background-image: url("../images/main-background.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 120%;
}

h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.container {
  inline-size: clamp(320px, 100%, 1200px);
  margin: 0 auto;
  padding: 0 20px;
}

.accent {
  color: variables.$accent-color;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid variables.$circle-border;
  background-color: variables.$circle-inner;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  background: rgba(16, 16, 29, 0.9);
  padding: 32px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 1920px;
  margin-bottom: 0;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 800;

    &:focus {
      outline: none;
    }
  }

  .menu__list {
    display: flex;
    gap: 60px;
    font-size: variables.$text-sm;
    text-transform: uppercase;

    .menu__link {
      font-family: inherit;
      font-weight: 400;

      &:hover,
      &:active {
        color: variables.$accent-color;
      }
    }
  }

  .nav-toggle {
    display: none;
  }
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 200px;
  height: 100vh;

  .hero__content {
    inline-size: clamp(280px, 100%, 780px);
    display: flex;
    flex-direction: column;
    gap: 80px;
    color: variables.$dark-color;

    .hero__title {
      font-size: variables.$heading-1;
      font-weight: 700;
      text-transform: uppercase;
    }

    .hero__description {
      font-size: variables.$text-lg;

      .hero__description-intro {
        font-weight: 600;
        margin-block-end: 10px;
      }

      .hero-list {
        list-style-type: none;
      }

      .hero-list__item {
        margin-block-end: 5px;

        &::before {
          content: "-";
          color: variables.$dark-color;
          margin: 0 10px;
        }
      }
    }

    .hero__buttons {
      display: flex;
      gap: 30px;
    }
  }
}

.hero__button {
  font-family: inherit;
  font-weight: 400;
  padding: 15px 32px;
  border-radius: 4px;
  width: 183px;
  font-size: variables.$text-sm;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
}

.button__primary {
  background-color: variables.$accent-color;
  color: variables.$light-color;
  border-color: variables.$light-color;
}

.button__secondary {
  background-color: variables.$light-color;
  color: variables.$gray-dark;
  border-color: variables.$gray-light;
}

.order-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 120px;
  background-image: url("../images/order-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .order__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .order__heading {
      font-size: variables.$heading-2;
      text-transform: uppercase;
    }

    .order__accent {
      font-size: variables.$text-md2;
      color: variables.$gray-lightest;
    }
  }

  .order__workflow {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 210px));
    gap: 30px;


    .order__step {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      row-gap: 20px;
      max-width: 210px;
    }
  }
}

.footer__contacts-list {
  display: flex;
}
