@use "variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: variables.$light-color;
  background-color: variables.$bg-color;
}

h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.container {
  inline-size: clamp(320px, 100%, 1200px);
  margin: 0 auto;
  padding: 0 20px;
}

.accent {
  color: variables.$accent-color;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid variables.$circle-border;
  background-color: variables.$circle-inner;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  background: rgba(16, 16, 29, 0.9);
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 1920px;
  max-height: 100px;
  margin-bottom: 0;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 800;

    &:focus {
      outline: none;
    }
  }

  .menu {
    display: none;
  }

  .nav-toggle {
    display: block;
  }
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 80px;
  height: auto;
  background-color: variables.$light-color;

  .hero__content {
    inline-size: clamp(280px, 100%, 780px);
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: variables.$dark-color;

    .hero__title {
      font-size: variables.$heading-1-mobile;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }

    .hero__description {
      font-size: variables.$text-md2;

      .hero__description-intro {
        font-weight: 600;
        margin-block-end: 10px;
      }

      .hero-list {
        list-style-type: none;
      }

      .hero-list__item {
        margin-block-end: 5px;

        &::before {
          content: "-";
          color: variables.$dark-color;
          margin: 0 10px;
        }
      }
    }

    .hero__buttons {
      display: flex;
      gap: 15px;
    }
  }
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  transition: all 0.2s linear;
}

.hero__button {
  padding: 15px 32px;
  width: 183px;
  height: 43px;
  font-size: variables.$text-sm;
}

.button__primary {
  background-color: variables.$accent-color;
  color: variables.$light-color;
  border-color: variables.$light-color;

  &:active,
  &:hover {
    background-color: variables.$blue-dark;
    box-shadow: inset 2px 2px 10px variables.$accent-color,
      inset -2px -2px 10px variables.$accent-color;
  }
}

.button__secondary {
  background-color: variables.$light-color;
  color: variables.$gray-dark;
  border-color: variables.$gray-light;

  &:active,
  &:hover {
    color: variables.$light-color;
    background-color: variables.$gray-light;
    box-shadow: inset 2px 2px 10px variables.$gray-lighter,
      inset -2px -2px 10px variables.$gray-lighter;
  }
}

.order {
  background-image: url("../images/order-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.order-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 120px;

  .order__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .order__heading {
      font-size: variables.$heading-2-mobile;
      text-transform: uppercase;
    }

    .order__accent {
      font-size: variables.$text-md2;
      color: variables.$gray-lightest;
    }
  }

  .order__workflow {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 210px));
    gap: 30px;

    .order__step {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      row-gap: 20px;
      max-width: 210px;

      &:not(:last-child) {
        position: relative;

        $dot-size: 6px;
        $dot-gap: 20px;
        $dot-count: 6;

        $dot-step: $dot-size + $dot-gap;
        $line-width: ($dot-step * $dot-count) - $dot-gap;

        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 50px;
          left: calc(50% + 53px);
          height: $dot-size;
          width: $line-width;

          background-image: radial-gradient(
            circle,
            variables.$light-color ($dot-size / 2),
            transparent ($dot-size / 2)
          );
          background-size: $dot-step $dot-size;
          background-repeat: repeat-x;
        }
      }
    }
  }

  .order__form {
    width: 100%;
    margin-block-end: 40px;
  }

  .form__personal-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    border: none;

    select,
    input,
    .file-label {
      padding: 12px 10px;
      border-radius: 3px;
      border: 1px solid variables.$light-color;
      font-size: variables.$text-md2;
      background-color: variables.$white-opacity-85;
      color: variables.$form-text-color;
      width: 100%;
      height: 48px;
    }

    select:focus,
    input:focus {
      outline: none;
      border-color: variables.$accent-color;
    }

    .custom-range {
      grid-column: 1/3;
    }
  }

  .submit-button {
    grid-column: 2;
    padding: 17.5px;
    font-size: 15px;
  }

  .form__range-wrapper {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: variables.$text-md2;

    .range-description {
      display: flex;
      justify-content: space-between;
    }

    .custom-range {
      height: 37px;
    }
  }

  .file-wrapper {
    position: relative;
  }

  .file-label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-color: variables.$accent-color;
    cursor: pointer;
    font-size: variables.$text-md2;
    color: variables.$form-text-color;
    width: 100%;
    max-width: 370px;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .file-label:hover {
    border-color: variables.$light-color;
    color: variables.$white-opacity-85;
    background-color: variables.$blue-dark;
    box-shadow: inset 1px 1px 10px variables.$gray-lighter,
      inset -1px -1px 10px variables.$gray-lighter;
  }

  .file-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    transition: filter 0.3s ease;
  }

  .file-label:hover .file-icon {
    filter: brightness(0) invert(1);
  }
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: variables.$gray-medium;
  font-size: variables.$text-sm;
}

.footer__contacts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
}

.footer__contacts-item {
  display: flex;
  gap: 10px;
  align-items: center;

  &:first-child::after,
  &:nth-child(4)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: variables.$gray-lighter;
    margin-left: 38px;
    vertical-align: middle;
  }

  .contact__link {
    transition: color 0.2s linear;

    &:hover,
    &:active {
      color: variables.$accent-color;
    }
  }
}

// MOBILE BASE
/* === MOBILE FIRST BASE === */

/* Order section */
.order-inner {
  gap: 40px;
  padding-top: 60px;

  .order__workflow {
    grid-template-columns: 1fr;
    gap: 40px;

    .order__step::before {
      display: none;
    }
  }

  .form__personal-data {
    grid-template-columns: 1fr;
    gap: 20px;

    .custom-range {
      grid-column: auto;
    }
  }

  .submit-button {
    grid-column: auto;
  }
}

/* Footer */
.footer__contacts-list {
  flex-direction: column;
  gap: 20px;

  .footer__contacts-item:first-child::after,
  .footer__contacts-item:nth-child(4)::after {
    display: none;
  }
}

/* === TABLET === */
@media (min-width: 768px) {
  body {
    background-image: url("../images/main-background.png");
    background-position: 70% top;
    background-repeat: no-repeat;
    background-size: 200%;
  }

  .container {
    padding: 0 40px;
  }

  .header {
    padding: 30px 0;

    .menu {
      display: block;
    }

    .menu__list {
      display: flex;
      gap: 20px;
    }

    .nav-toggle {
      display: none;
    }
  }

  .hero {
    background-color: transparent;
    margin-top: 90px;
    padding-top: 80px;

    .hero__content {
      inline-size: clamp(280px, 100%, 780px);
      .hero__title {
        font-size: variables.$heading-1-tablet;
        text-align: left;
      }

      .hero__buttons {
        gap: 30px;
      }
    }
  }

  .order-inner {
    padding-top: 80px;
    .order__heading {
      font-size: variables.$heading-2-desktop;
    }
    .order__workflow {
      grid-template-columns: repeat(3, 1fr);
    }

    .form__personal-data {
      grid-template-columns: repeat(2, 1fr);

      .custom-range {
        grid-column: 1 / 3;
      }
    }
  }

  .footer__contacts-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* === SMALL DESKTOP === */
@media (min-width: 1024px) {
  body {
    background-image: url("../images/main-background.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 150%;
  }
  .header {
    padding: 33px;

    .menu__list {
      display: flex;
      gap: 60px;
      font-size: variables.$text-sm;
      text-transform: uppercase;

      .menu__link {
        font-family: inherit;
        font-weight: 400;
        transition: color 0.2s linear;

        &:hover,
        &:active {
          color: variables.$accent-color;
        }
      }
    }
  }

  .hero {
    margin-top: 100px;

    .hero__content {
      .hero__title {
        font-size: variables.$heading-1-desktop;
      }

      .hero__description {
        font-size: variables.$text-lg;
      }
    }
  }

  .order-inner {
    .order__workflow {
      grid-template-columns: repeat(5, 1fr);
    }

    .form__personal-data {
      grid-template-columns: repeat(3, 1fr);

      .custom-range {
        grid-column: 1 / 3;
      }
    }

    .submit-button {
      grid-column: 2;
    }
  }
}

/* === LARGE DESKTOP === */
@media (min-width: 1200px) {
  body {
    background-image: url("../images/main-background.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 120%;
  }

  .hero {
    padding-top: 100px;
    padding-bottom: 200px;
    height: 100vh;

    .hero__content {
      gap: 80px;
    }
  }
}
