@use "variables";
@use "header";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: variables.$light-color;
  background-color: variables.$bg-color;
}

h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.container {
  inline-size: clamp(320px, 100%, 1200px);
  margin: 0 auto;
  padding: 0 20px;
}

.accent {
  color: variables.$accent-color;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid variables.$circle-border;
  background-color: variables.$circle-inner;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 80px;
  height: auto;

  position: relative;

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero__content {
    inline-size: clamp(280px, 100%, 780px);
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: variables.$dark-color;

    .hero__title {
      font-size: variables.$heading-1-mobile;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }

    .hero__description {
      font-size: variables.$text-md2;

      .hero__description-intro {
        font-weight: 600;
        margin-block-end: 10px;
      }

      .hero-list {
        list-style-type: none;
      }

      .hero-list__item {
        margin-block-end: 5px;

        &::before {
          content: "-";
          color: variables.$dark-color;
          margin: 0 10px;
        }
      }
    }

    .hero__buttons {
      display: flex;
      gap: 15px;
    }
  }
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  transition: all 0.2s linear;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 32px;
  width: 183px;
  height: 43px;
  font-size: variables.$text-sm;
}

.button__primary {
  background-color: variables.$accent-color;
  color: variables.$light-color;
  border-color: variables.$light-color;

  &:active,
  &:hover {
    background-color: variables.$blue-dark;
    box-shadow: inset 2px 2px 10px variables.$accent-color,
      inset -2px -2px 10px variables.$accent-color;
  }
}

.button__secondary {
  background-color: variables.$light-color;
  color: variables.$gray-dark;
  border-color: variables.$gray-light;

  &:active,
  &:hover {
    color: variables.$light-color;
    background-color: variables.$gray-light;
    box-shadow: inset 2px 2px 10px variables.$gray-lighter,
      inset -2px -2px 10px variables.$gray-lighter;
  }
}

.order {
  background-image: url("../images/order-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.order-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 60px;

  .order__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;

    .order__heading {
      font-size: variables.$heading-2-mobile;
      text-transform: uppercase;
    }

    .order__accent {
      font-size: variables.$text-md2;
      color: variables.$gray-lightest;
    }
  }

  .order__workflow {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    .order__step {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      row-gap: 20px;
      max-width: 210px;
    }

    .order__step::before {
      display: none;
    }
  }

  .order__form {
    width: 100%;
    margin-block-end: 40px;
  }

  .form__personal-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border: none;

    input,
    .file-label {
      padding: 12px 10px;
      border-radius: 3px;
      border: 1px solid variables.$light-color;
      font-family: inherit;
      font-size: variables.$text-md2;
      background-color: variables.$white-opacity-85;
      color: variables.$form-text-color;
      width: 100%;
      height: 48px;
    }

    input:focus {
      outline: none;
      border-color: variables.$accent-color;
    }

    /* Custom select */
    select {
      opacity: 0;
      pointer-events: none;
    }

    .custom-select {
      position: relative;
      padding: 12px 10px;
      border-radius: 3px;
      border: 1px solid transparent;
      font-family: inherit;
      font-size: variables.$text-md2;
      color: variables.$form-text-color;
      width: 102%;
      margin-left: -2px;
      height: 48px;
    }

    .custom-select__trigger {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 48px;
      padding: 12px 10px;
      background-color: variables.$white-opacity-85;
      border: 1px solid variables.$light-color;
      border-radius: 3px;
      font-family: inherit;
      font-size: variables.$text-md2;
      text-align: left;
      color: variables.$bg-color;

      &:active,
      &:focus {
        outline: none;
      }
    }

    .custom-select__trigger.open {
      color: variables.$light-color;
      background-color: variables.$gray-medium;
      border-radius: 3px 3px 0 0;
      border: 1px solid variables.$gray-medium;
    }

    .custom-select__arrow {
      position: absolute;
      right: 10px;
      top: 30%;
      width: 20px;
      height: 20px;
      background: url("../icons/form/arrow-dark.svg") no-repeat center;
      transition: transform 0.2s ease;
    }

    .custom-select.open .custom-select__list {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .custom-select.open .custom-select__arrow {
      background: url("../icons/form/arrow-light.svg") no-repeat center;
    }

    .custom-select__list {
      position: absolute;
      top: 105%;
      left: 0;
      width: 100%;
      background: variables.$bg-color;
      border: 1px solid variables.$gray-medium;
      border-radius: 0 0 3px 3px;
      padding: 6px 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(5px);
      transition: all 0.2s ease;
      z-index: 10;
    }

    .custom-select__item {
      padding: 10px;
      cursor: pointer;
      color: variables.$light-color;
    }

    .custom-select__item:hover {
      color: variables.$accent-color;
    }

    /* Custom range */
    .custom-range {
      grid-column: auto;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
      height: 6px;
      background: transparent;
      cursor: pointer;
    }

    .custom-range::-webkit-slider-runnable-track {
      height: 6px;
      background-color: variables.$white-opacity-85;
      border-radius: 3px;
    }

    .custom-range::-moz-range-track {
      height: 6px;
      background: variables.$white-opacity-85;
      border-radius: 3px;
    }

    .custom-range::-moz-focus-outer {
      border: 0;
    }

    .custom-range:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }

    .custom-range::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 26px;
      width: 26px;
      background: variables.$circle-inner;
      border-radius: 50%;
      border: 3px solid variables.$circle-border;
      margin-top: -10px;
      cursor: pointer;
    }

    .custom-range::-moz-range-thumb {
      height: 26px;
      width: 26px;
      background: variables.$circle-inner;
      border-radius: 50%;
      border: 3px solid variables.$circle-border;
      margin-top: -10px;
      cursor: pointer;
    }
  }

  .submit-button {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17.5px;
    font-size: 15px;
    max-height: 48px;
  }

  .form__range-wrapper {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: variables.$text-md2;

    .range-description {
      display: flex;
      justify-content: space-between;
    }

    .custom-range {
      height: 37px;
      padding: 0;
      border: 1px solid variables.$light-color;
    }
  }

  .file-wrapper {
    position: relative;
  }

  .file-label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-color: variables.$accent-color;
    cursor: pointer;
    font-size: variables.$text-md2;
    color: variables.$form-text-color;
    width: 100%;
    max-width: 370px;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .file-label:hover {
    border-color: variables.$light-color;
    color: variables.$white-opacity-85;
    background-color: variables.$blue-dark;
    box-shadow: inset 1px 1px 10px variables.$gray-lighter,
      inset -1px -1px 10px variables.$gray-lighter;
  }

  .file-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    transition: filter 0.3s ease;
  }

  .file-label:hover .file-icon {
    filter: brightness(0) invert(1);
  }
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: variables.$gray-medium;
  font-size: variables.$text-sm;
}

.footer__contacts-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.footer__contacts-item {
  display: flex;
  gap: 10px;
  align-items: center;

  .contact__link,
  .payment-platform {
    transition: color 0.2s ease-out;

    &:hover,
    &:active {
      color: variables.$accent-color;
    }
  }
}

/* === TABLET === */
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .header {
    padding: 30px 0;
    background-color: variables.$dark-bg;

    .header-inner {
      .menu {
        display: block;
        position: static;
        margin-top: 0;
        background-color: transparent;
        width: initial;
        padding: 0;

        .menu__list {
          flex-direction: row;
          gap: 20px;
        }
      }

      .nav-toggle {
        display: none;
      }
    }
  }

  .hero {
    padding-top: 180px;

    .hero__content {
      inline-size: clamp(280px, 100%, 780px);
      .hero__title {
        font-size: variables.$heading-1-tablet;
        text-align: left;
        max-width: 70%;
      }

      .hero__buttons {
        gap: 30px;
      }
    }
  }

  .order-inner {
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 60px;

    .order__title {
      .order__heading {
        font-size: variables.$heading-2-desktop;
      }
    }
    .order__workflow {
      grid-template-columns: repeat(3, 1fr);
    }

    .order__step:nth-child(3)::before {
      display: block !important;
    }

    .order__step:not(:last-child):not(:nth-child(3)) {
      position: relative;

      $dot-size: 6px;
      $dot-gap: 20px;
      $dot-count: 6;

      $dot-step: $dot-size + $dot-gap;
      $line-width: ($dot-step * $dot-count) - $dot-gap;

      &::before {
        display: block;
        content: "";
        position: absolute;
        z-index: -1;
        top: 50px;
        left: calc(50% + 53px);
        height: $dot-size;
        width: $line-width;

        background-image: radial-gradient(
          circle,
          variables.$light-color ($dot-size / 2),
          transparent ($dot-size / 2)
        );
        background-size: $dot-step $dot-size;
        background-repeat: repeat-x;
      }
    }

    .form__personal-data {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .custom-range {
        grid-column: 1 / 3;
      }
    }
  }

  .footer__contacts-list {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .footer__contacts-item {
    &:first-child::after,
    &:nth-child(4)::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 18px;
      background-color: variables.$gray-lighter;
      margin-left: 20px;
      vertical-align: middle;
    }
  }
}

/* === SMALL DESKTOP === */
@media (min-width: 1024px) {
  .header {
    padding: 33px;

    .menu__list {
      display: flex;
      gap: 60px;
      font-size: variables.$text-sm;
      text-transform: uppercase;
    }
  }

  .hero {
    .hero__content {
      .hero__title {
        font-size: variables.$heading-1-desktop;
        max-width: 80%;
      }

      .hero__description {
        font-size: variables.$text-lg;
      }
    }
  }

  .order-inner {
    padding-top: 120px;
    padding-bottom: 150px;
    gap: 80px;

    .order__workflow {
      grid-template-columns: repeat(5, 1fr);
      gap: 30px;
    }

    .order__step:not(:last-child) {
      position: relative;

      $dot-size: 6px;
      $dot-gap: 20px;
      $dot-count: 6;

      $dot-step: $dot-size + $dot-gap;
      $line-width: ($dot-step * $dot-count) - $dot-gap;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50px;
        left: calc(50% + 34px);
        height: $dot-size;
        width: $line-width;

        background-image: radial-gradient(
          circle,
          variables.$light-color ($dot-size / 2),
          transparent ($dot-size / 2)
        );
        background-size: $dot-step $dot-size;
        background-repeat: repeat-x;
      }
    }

    .form__personal-data {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    .submit-button {
      grid-column: 2;
    }
  }
}

/* === LARGE DESKTOP === */
@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 100vh;

    .hero__content {
      gap: 80px;
    }
  }

  .order-inner {
    .order__step:not(:last-child) {
      position: relative;

      $dot-size: 6px;
      $dot-gap: 20px;
      $dot-count: 6;

      $dot-step: $dot-size + $dot-gap;
      $line-width: ($dot-step * $dot-count) - $dot-gap;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50px;
        left: calc(50% + 50px);
        height: $dot-size;
        width: $line-width;

        background-image: radial-gradient(
          circle,
          variables.$light-color ($dot-size / 2),
          transparent ($dot-size / 2)
        );
        background-size: $dot-step $dot-size;
        background-repeat: repeat-x;
      }
    }
  }
}
