@font-face {
  font-family: 'Lato';
  src: url(./Lato-Bold.woff) format('woff'),
    url(./Lato-Bold.ttf) format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url(./Lato-Regular.woff) format('woff'),
    url(./Lato-Regular.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}
